
	body {
	  background-image: url('fondo.jpg');
	}



header{
	font-size: 50px;
color: rgb(53, 200, 221);
font-family: calibri;
text-align: center;
width: 100%;

}

#nav{
 background-color: rgb(15, 111, 238) ;
padding: 20px;



}




#nav ul{

	list-style: none;
	text-align: center;

}


#nav li{
	display: inline;
	text-align: center;
	margin: 0px 10px  0px 0px
}


#nav li a{
	padding: 18px 50px 10px 50px;
	color: black;
	background-color: rgb(219, 217, 18) ;
	text-decoration: none;
	border: 4px solid blue;

}
